---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';

import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

console.log("all ",allPosts)

const pageTitle  = "Mi sitio Astro";

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "UpperCase";

---


<BaseLayout pageTitle={pageTitle}skillColor={skillColor} fontWeight={fontWeight} textCase={textCase}>

 <h1 style="color: purple; font-size: 2rem; margin: 0 0 1rem 0;">Mi blog de Astro aprendizaje</h1>
        <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
         <ul>           
          {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
         </ul>

</BaseLayout>
